extends layout

block content
    h1 Sala de Juego #{id}    

    script(src="/socket.io/socket.io.js")
    script.
        var socket = io('http://localhost:3000');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('roomConnection', { room: '#{id}' });
        });


