extends layout

block content
  .centered-row
    h1= title
    p 
      span #{title} 
      span.muted #{beta ? "(beta)":""}
  .row.centered-row
    img(src="/images/cacu.png" width="300px")
  .row.centered-row
    form(action='/game/create' method="POST")
      button.gameButton(type="submit") Crear Mesa
  .row.centered-row
    form(action='/game/join' method="POST")
      input(type="text" name="room")
      button.gameButton(type="submit") Entrar a Mesa
  .row.centered-row
    form(action='/reglas' method="GET")      
      button.gameButton.pinkButton(type="submit") Da Rules
