extends layout

block content
  .centered-row
    h1= title
    p 
      span.muted #{beta ? "Versión v0.5 alpha":""}      
  .row.centered-row
    img(src="/images/cacu.png" width="300px")
  //- .row.centered-row
  //-   label(for="inputName") Ingresa tu nombre para comenzar a jugar: 
  //-   input#inputName(type="text" name="name" oninput="changeName(this.value)")    
  //- hr  
  .row.centered-row
    h3 Hay #{playing} juego
      if playing != 1
        span s
      span  en curso.
  .row.centered-row
    .col-4
      form(action='/game/create' method="POST")
        input#createName(type="hidden" name="name")      
        button.gameButton(type="submit") Crear Mesa
    .col-4
      form(action='/game/join' method="POST")        
        input#joinName(type="hidden" name="name")      
        label(for="roomNumber") Mesa: 
        input#roomNumber(type="text" name="room")
        button.gameButton(type="submit") Entrar a Mesa
    .col-4
      form(action='/reglas' method="GET")      
        button.gameButton.pinkButton(type="submit") Da Rules

  .row.bottom--0
    span Links:  
    img(src="/images/GitHub-Mark-32px.png" width="16px")
    span  
    a(href="https://github.com/dcaceresm/carekk" target="_blank") Github


  script.
    const changeName = () => {

    }