extends layout

block content
  h1= title
  p Welcome to #{title} 
    span.muted #{beta ? "(beta)":""}

  form(action='/game/create' method="POST")
    button(type="submit") Crear Sala

  button Entrar a Sala
  
