extends layout

block content
  h1= title
  p Welcome to #{title} 
    span.muted #{beta ? "(beta)":""}
  .row
    img(src="/images/cacu.png")
  .row
    form(action='/game/create' method="POST")
      button.gameButton(type="submit") Crear Sala
  .row
    form(action='/game/join' method="POST")
      input(type="text" name="room")
      button.gameButton(type="submit") Entrar a Sala
  
