doctype html
html
  head
    block customtitle
    link(href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
  body
    block content
