extends layout

block content
  
  .centered-row
    h1 Reglas del juego (en construcci칩n)
        img(src="/images/minicacu.png" width="48px")
  .row
    span.muted Dado que el juego est치 en desarrollo esta p치gina est치 en modificaci칩n. A medida que se implementen nuevas reglas se ir치n agregando aqu칤.
  .row
    span.muted Estas reglas son referenciales y est치n basadas en las partidas jugadas por los desarrolladores de esta implementaci칩n online. Cualquier sugerencia o propuesta de cambio es bien recibida :)

  .row
    h2 游끥 Protip: La pr치ctica hace al maestro 
  .row
    h3 游눨 C칩mo se juega 
      i Carecaca
      span :
    ul#ruleList
      li Una vez que inicia el juego, se le reparten a cada jugador 9 cartas: 3 en la 
        b mano
        span , 3 cartas 
        b visibles 
        span y 3 cartas 
        b ocultas 
        span en la mesa.
      li El juego comienza jugando las cartas (seg칰n las reglas descritas abajo). Puedes jugar 
        b s칩lo cartas de la mano 
        span hasta que se acaban las cartas del mazo.
      li Siempre que hayan cartas en el mazo, se debe mantener un m칤nimo de 3 cartas en tu mano. Aunque no te preocupes, en este caso el juego lo hace por ti :).
      li Si no puedes jugar ninguna carta de tu mano, 
        b DEBES 
        span llevarte la pila de descarte a tu mano.
        span.muted  puchi
      li Una vez que se acaba el mazo, y tu mano est치 vac칤a, puedes comenzar a jugar las cartas sobre la mesa.
        span.muted  wiiiiii :)
      li Primero juegas las cartas visibles. Nuevamente, si no puedes jugar ninguna carta te llevas todas las cartas del centro a tu mano. Puedes volver a jugar cartas de la mesa una vez que tu mano vuelva a estar vac칤a.
      li Uff, ya vamos llegando al final; te toca jugar las cartas ocultas: Si la carta que escogiste no puede jugarse sobre la pila de descarte, te llevas 
        b tu carta y la pila 
        span de vuelta a tu mano. No puedes volver a jugar cartas de la mesa hasta que te deshagas de tu mano. 
        span.muted puuuta la hue치
      li Si te quedas sin cartas en la mano y en la mesa, 
        b FELICITACIONES
        span , no perdiste jeje. Espera en l칤nea para saber cu치l de tus amigos es el carecaca 游눨游눨游눨
  .row
    h3 游눨 Reglas de las Cartas
    ul#ruleList
        li Las cartas se deben jugar siempre en orden de 
            b menor a Mayor
            span , donde el 2 es la carta m치s peque침a y el As la m치s alta, es decir:
            b  2, 3, 4, ... , J, Q, K, A
        li Algunas cartas tienen habilidades especiales:
        ul
            li El 2 es comod칤n, es decir, se puede jugar en todo momento.
            li El 7 obliga al siguiente jugador a arrojar una carta menor o igual a 7 en su turno. Luego el juego contin칰a normal.
            li El 10 funciona como comod칤n, y adem치s 
                b quema 
                span las cartas. Una definici칩n de esto se encuentra m치s adelante.
            li El J invierte el sentido del juego (an치logo a la carta 
                i Reversa 
                span del conocido juego UNO )
            li
                span.muted (A칔N NO IMPLEMENTADO) 
                span EL Joker es un comod칤n que obliga al siguiente jugador a llevarse toda la pila de descarte a su mano 游땓

  .row
    h3 Algunas variantes avanzadas
      span.muted  (A칔N NO IMPLEMENTADO)
