body {
  padding: 10px;
  font: 14px 'Nunito', Helvetica, Arial, sans-serif;
  background-color: #fff
}

a {
  color: #00B7FF;
}

/* TODO: Hacer responsive */
.row{
  margin : 10px 0;
  height: auto;
}
.centered-row{
  text-align: center;
}
.chatText{
  width:40%;
  margin-left: 10px;
}
.chatInput{
  background-color: #eee;
  border-top:1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#messages{
  color:black;
}
#burntCard{
  color:black
}
#messages li{
  list-style-type: none;
}
.height--380--imp{
  height: 380px !important;
}
.tables{
  overflow-y: auto;
  height: 305px;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
}
.col-4{
  margin: auto;
  padding: 0 10px;
  width: calc(90%/12 * 4);
  display: inline-block;
}
.col-3{
  margin: auto;
  padding: 0 10px;
  width: calc(95%/12 * 3);
  display: inline-block;
}
.col-6{
  margin: auto;
  padding: 0 10px;
  width: calc(95%/12 * 6);
  display: inline-block;
  /* position:absolute; */
}



.muted{
  font-size: 10px;
  color:grey
}
.container{
  background-color: #004e25;
  width: auto;
  padding: 0.5em 1em;
  color: white;
}

.prop--border-radius--5px{
  border-radius: 5px;
}
.container h1{
  text-align: center;
}

.gmwContainer{
  height: 305px;
  width: 90%;
  margin: auto;
}

.gameWindow{
  background-color: rgba(200,200,200,0.2);
  width:40%;
  margin: auto;
  padding: 0.5em 1em;
  border:1px solid rgb(200,200,200);
  border-radius:5px;
  text-align: center;
  position: absolute;
}

.playableCard{
  border: 1px solid #ddd;
  width:60px;
  border-radius:5px;
  display: inline-block;
  margin: 5px 5px;
  background-color: white;
  vertical-align: bottom;
  height:75px;
  transition: all 0.2s;
}

.playableHiddenCard{
  border: 1px solid black;
  width:60px;
  border-radius:5px;
  display: inline-block;
  margin: 5px 5px;
  background-color: #222;
  vertical-align: bottom;
  height:75px;
  transition: all 0.2s;
  color: white;
  font-weight: bolder;
}


.playableHiddenCard:hover{
  -webkit-box-shadow: 0px 0px 14px 3px black;
  -moz-box-shadow: 0px 0px 14px 3px black;
  box-shadow: 0px 0px 14px 3px black;
}


.playableCard:hover{
  -webkit-box-shadow: 0px 0px 14px 3px rgba(44,54,245,1);
  -moz-box-shadow: 0px 0px 14px 3px rgba(44,54,245,1);
  box-shadow: 0px 0px 14px 3px rgba(44,54,245,1);
}


.pattern2 {
  background-image: repeating-linear-gradient(-45deg, rgba(2, 180, 40, 0.2), rgba(0, 185, 40, 0.25)1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
}


.pattern12 {
  background-image: repeating-linear-gradient(36deg, rgba(0, 88, 19, 0.25), rgba(0, 88, 19, 0.25) 1px, transparent 0px, transparent 2px);
  background-size: 6px;
}

.cardBorder{
  border: 1px solid #ddd;
  width:136px;
  border-radius:5px;
  display: inline-block;
  margin: 0 8px;
  background-color: white;
  vertical-align: bottom;
}

.cardPile{
  width:110px;
  height:120px;
  border: 1px solid white;
  border-radius: 5px;  
  font-weight: bold;
  margin: 7px 8px;
  padding: 20px 5px;
}

.gameButton{
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  border-style:none;
  transition: all 0.2s;
  font-size: 16px;
}


.gameButton:hover{
  background: hsl(194, 58%, 41%);
}

.pinkButton{
  background: #D980FA
}
.pinkButton:hover{
  background: hsl(284, 42%, 53%);
}

#playerName{
  font-weight: bold;
}

#mainDeck{
  background-color: #cc0000;
  color: white;
  text-align: center;
}

#warning{
  color:red;
  font-weight: bold;
}

#won{
  color:#A3CB38;
}
#discardPile, #burntPile{
  border: 1px solid #ddd;
  color: black;
  background-color: #eee;
  font-size:28px;
  text-align: center;
}

#discardPile button{
  font-size: 10px;
  padding:0;
  position: relative;
  top: 8px;
}

#mainDeckCount{
  display:inline;
  font-weight: bold;
  
}

.playerHand{
  margin-top:10px;
  padding: 10px;
  overflow-x: auto;
  width:auto;
  height:140px;
  border:1px solid black;
  border-radius:5px;
  background-color: rgba(0,0,0,0.2)
}


.header h1{
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
  color:white;
  border-radius: 5px;
  padding: 5px 0;
}

#playerList{
  display:inline;
  padding:0;
  color:green;
  font-weight: bolder;
}

.buttons{
  display: inline;
}
.playerItem{
  list-style: none;
  display: inline;
  margin: 0 5px;
}

#canPlay{
  font-weight: bold;
}



.triplets{
  margin:auto;
  margin-top:5px;
  height: 100px;
  
}
.triplet{
  text-align: center;
  position:relative;
  margin:auto;
  width:80%;
}
.triplet-container{
  width:25%;
  margin:auto;
  margin-top:10px;
  border: 1px solid rgba(255,255,255,0.1);
  background-color: rgba(200,180,100,0.1);;
  border-radius: 5px;
}
.tripletOwner{
  width:60%;
  margin:auto;
  color:white;
  font-weight: bold;
  text-align:center;
}
#vTriplet{  
  left:10px;
  z-index: 10;
}
#hTriplet{
  top:-75px;
}
#roomNumber{
  width: 50px
}


.playerTriplet{
  width:75%;
  padding: 5px 5px;
  margin-top:10px;
  margin-left: 20px;
  border: 1px solid rgb(66, 184, 221);
  background-color: rgba(66, 184, 221,0.3);
  border-radius: 5px;
  font-size:10px;
  color:black;
}

.miniCard{
  background-color: white;
  border: 1px solid black;
  border-radius:4px;
  margin: 0 2px;
  color: black;
  padding: 8px 4px;
}

.miniHidden{
  background-color: #222;
  border: 1px solid black;
  border-radius:4px;
  margin: 0 2px;
  color: white;
  padding: 8px 4px;
}
.bottom--0{
  bottom: 0 !important;
  position: absolute !important;
}