body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}




.container{
  background-color: #a0cca8;
  width: 100%;
  padding: 0.5em 1em;
}
.container h1{
  text-align: center;
}

.gameWindow{
  background-color: white;
  width: 600px;
  padding: 0.5em 1em;
}

.pattern12 {
  background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px);
  background-size: 6px;
}

.cardBorder{
  border: 1px solid #ddd;
  width:136px;
  border-radius:5px;
  display: inline-block;
  margin: 0 25px;
}
.cardPile{
  width:110px;
  height:120px;
  border: 1px solid white;
  border-radius: 5px;  
  font-weight: bold;
  margin: 7px 8px;
  padding: 20px 5px;
}

#playerName{
  font-weight: bold;
}

#mainDeck{
  background-color: #cc0000;
  color: white;
}

#discardPile{
  border: 1px solid #ddd;
  font-size: 40px;
}

#mainDeckCount{
  display:inline;
  font-weight: bold;
  
}
